In [1]:
b = set([1,5,1]) #explicit typecasting
print(b)

{1, 5}

In [9]:
a = {'k','Bhavesh',88,False,0} #we created set
print(a)

{'k', False, 88, 'Bhavesh'}

In [10]:
H = {'k','u',55,0,1,1,55,False,True,False} #creating Hetro set
print(H)  #in output there will bw no bollean values at that place it will replaced by or values and print remaining or value

{0, 1, 55, 'k', 'u'}

In [11]:
a = set() #creating an empty set / we cannot create empty set directly by curly braces we have to use operator
print(a)
print(type(a))

f = {} #by creating empty set directly it looks like an set by acctully its type will Dict
print(f)
print(type(f))

set()
<class 'set'>
{}
<class 'dict'>

In [12]:
j = {1,0,1,0,True,False,'hi'} #dupelicate value are not allowed here in set it will see same True=1 , False=0 
print(j)

{0, 1, 'hi'}

In [13]:
print(len(j)) #by this we can find out the length of created set

3

In [14]:
print('hi' in j) # by this we can find out in or out(hi is in the set)
print('go' in j) # go is not in this set

True
False

In [15]:
print(j)
j.add('kick') #by this (add) methode we can add value in the defined set but we can add only single element by this (add methode)
print(j)

{0, 1, 'hi'}
{0, 1, 'kick', 'hi'}

In [16]:
print(j)
j.update(('hello','tadda','go away')) #by this (update) methode we can add multiple(elements/values) into our set
print(j)

{0, 1, 'kick', 'hi'}
{0, 1, 'hello', 'tadda', 'hi', 'kick', 'go away'}

In [17]:
print(j)
j.remove('kick') #by remove methode we remove particular value from set
print(j)

{0, 1, 'hello', 'tadda', 'hi', 'kick', 'go away'}
{0, 1, 'hello', 'tadda', 'hi', 'go away'}

In [ ]:
H.clear()   #by this clear Methode we can empty entire set.
print(H)

set()

In [20]:
num1 = {80,80,50,60,44}
num2 = {44,55,66,88,99}

In [24]:
num3 = num1.union(num2) #by union methode we can combine both sets but it adjust the duplicate value, duplicate value will not be given
print(num3)

{66, 99, 44, 80, 50, 55, 88, 60}

In [26]:
num3 = num2.intersection(num1) #by this intersection methode we can find out commen element from our set.
print(num3)

{44}

In [27]:
x = {10,20,30,40,50}
y = {10,20,80,90,100}

In [30]:
z = x.difference(y) #this is the dofference methode by this we can take out the non common elements from both if our set.
print(z)

{40, 50, 30}

In [31]:
s = x.symmetric_difference(y)
print(s)

{80, 50, 100, 90, 40, 30}