TUPLE CREATION

In [118]:
ti = (1,2,3,4) #created integer tuple
print(ti)
print(type(ti))

(1, 2, 3, 4)
<class 'tuple'>

In [119]:
tf = (2.4,5.5,88.66) #created float tuple
print(tf)
print(type(tf))

(2.4, 5.5, 88.66)
<class 'tuple'>

In [120]:
nt = ('bhavesh',88,'hello',(50,5.5),(55,10)) #created a nested tuple
print(nt)
print(type(nt))

('bhavesh', 88, 'hello', (50, 5.5), (55, 10))
<class 'tuple'>

In [121]:
mdt = (88,8.8,'bhavesh',False,True,3j+4) #created mixed data type tuple
print(mdt)
print(type(mdt))

(88, 8.8, 'bhavesh', False, True, (4+3j))
<class 'tuple'>

In [122]:
len(mdt) #length of tuple

6

TUPLE INDEXING

In [123]:
mdt[0] #retreving 1st element of our tuple

88

In [124]:
nt[0][0] #retreving the 1st character of tuple

'b'

In [125]:
nt[-1] #retreiving last iteam of tuple

(55, 10)

TUPLE SLICING

In [126]:
tup = ('hi','hello','go','went','gone')

In [127]:
tup[0:3] #return iteam from 0th to 3rd index location

('hi', 'hello', 'go')

In [128]:
tup[2:4] #return team/element from 2th to 4th index loc

('go', 'went')

In [129]:
tup[:3] #return 1st 3 elements of tuple

('hi', 'hello', 'go')

In [130]:
tup[:2] #returned 1st 2 elements from tuple

('hi', 'hello')

In [131]:
tup[ -3:] #last 3

('go', 'went', 'gone')

In [132]:
tup[-1:] #last tuple element

('gone',)

In [133]:
tup[:] #returned whole tuple

('hi', 'hello', 'go', 'went', 'gone')

REMOVE AND CHANGE THE ITEAM

In [134]:
r = ('kick','back','bone','hardy','new','loct')
r

('kick', 'back', 'bone', 'hardy', 'new', 'loct')

In [135]:
del r[0]  #its true we can make changes in tuple

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
del r #but at the same time we can delete entire tuple

LOOP THROUGH TUPLE

In [ ]:
t = ('one','two','three','four','five','six','seven','eight')
t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
for i in t:
    print(t)

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
for i in enumerate(t):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

TUPLE MEMBERSHIP

In [136]:
g = ('one','two','three','four','five','six','seven','eight')
g

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [138]:
'one' in g #checked if 'one' is in the tuple

True

In [139]:
'twwnty' in g #checked if "twn" is in tuple or not

False

In [140]:
'two' in g

True

In [142]:
if 'one' in g :
    print('one is in my tuple')

else:
    print('one is not in your tuple')

one is in my tuple

In [143]:
if 'two' in g:
    print('yes u got that, two is your tuple')
else:
    print('better luck next time, two is not in your tuple')

yes u got that, two is your tuple

In [144]:
if 'ten' in g:
    print('yes it is in')
else:
    print('its not there')

its not there

In [147]:
print(g.index('two'))
print(g.index('four'))

1
3

In [148]:
print(g.index('three'))

2

SORTING

In [149]:
p = (1,5,8,692,4,4,5,7,1,63)
p

(1, 5, 8, 692, 4, 4, 5, 7, 1, 63)

In [153]:
sorted(p)

[1, 1, 4, 4, 5, 5, 7, 8, 63, 692]

In [154]:
sorted(p,reverse=True)

[692, 63, 8, 7, 5, 5, 4, 4, 1, 1]